.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  /* // color: white; */
  overflow-x: hidden;
  position: relative;
  /* //position: relative; */
}
header {
  padding-right: 50px;
}

/* Sidebar */
.sidebar {
  background: rgb(40, 40, 42);
  color: white;
  height: 100vh;
  overflow-y: auto;
  display: inline-block;
}
.header {
  height: 100%;
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: white;
  height: 7.6rem;
  align-content: center;

  padding: 0 4rem 0 2rem;
  border-radius: 0 0 10px 10px;
  border: 1px solid #f3efef;
}
.logo {
  height: 3rem;
}
.it {
  margin-top: 12px;
  height: 80px;
  width: 83px;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.6rem;
  align-items: center;
  justify-content: end;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  /* /_ background-color: black; _/ */
}
.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: #cf711f;
}

.footer {
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 20px 40px;
  text-align: center;
}
.nav-div {
  justify-content: start;
  align-items: center;
}
.side-nav-list {
  margin-top: 130px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: white;
}
.side-nav-link:link,
.side-nav-link:visited {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}
.side-nav-link:hover,
.side-nav-link:active {
  color: #dfdcd9;
}
.btn-2:link,
.btn-2:visited {
  /* background-color: ; */
  width: 100%;

  padding: 13px 13px 13px 20px;
  /* // background-color: white; */
}
.btn-2:hover,
.btn-2:active {
  background-color: white;
  color: black;
  transition: all 0.5s;
}
span {
  padding-left: 7px;
}
